#container-flex-rods {
    display: flex;
    background-color: white;
    justify-content: space-around;
    height: 400px;
    align-items: flex-end;
    margin-left: 50px;
    margin-right: 50px;
}

/*Varetas*/
.rod { 
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 12px;
    height: 400px;
    background-color: black; 
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

#container-flex-buttoms {
    display: flex;
    background-color: white;
    height: 40px;
    border-radius: 50px;
    margin-left: 50px;
    margin-right: 50px;
    justify-content: space-around;
}

.buttom {
    cursor: pointer;
    background-color: white;
    color: black;
    border: 2px solid #4CAF50; /* Green */
    width: 50%;
    border-radius: 10px;
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.buttom:hover {
    background-color: #4CAF50; /* Green */
    color: white;
    border-radius: 10px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#disco-1 {
    width: 100px;
    height: 30px;
    background-color: #FFC0CB;
    border: solid black 1px;
}

#disco-2 {
    width: 150px;
    height: 30px;
    background-color: #EE82EE;
    border: solid black 1px;
}

#disco-3 {
    width: 200px;
    height: 30px;
    background-color: #4B0082;
    border: solid black 1px;
}

#disco-4 {
    width: 250px;
    height: 30px;
    background-color: blue;
    border: solid black 1px;
}

.discos {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
}

#disco-1 {
    color: black; 
}